@font-face {
  font-family: 'John';
  src: url('../../../john.ttf') format('truetype');
}

body {
  font-family: John, sans-serif;
  font-size: 2rem;
}

/* body span:nth-child(10n + 1) {
  color: #ef5350;
} */

.grid-container {
  display: grid;
  grid-template-columns: 350px;
  grid-template-rows: auto;
  grid-template-areas: 'sidebar feed';
}
