header {
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

label {
  margin-right: 5px;
}

button {
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
}

.weatherBox {
  background-color: lightblue;
  border-radius: 5px;
}
