.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  padding-top: 20px;
  width: 300px;
  height: 500px;
  margin: 10px;
  border-radius: 12px;
  border: 1px solid red;
  background-image: url('https://media.istockphoto.com/id/1072295604/photo/colored-pencil-background.jpg?s=612x612&w=0&k=20&c=sbOTVziY7IeEfsGLtbZCYMMwbBAohhfhon4uMpfS1yk=');
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.card-component {
  background-color: rgba(250, 250, 87, 0.651);
  padding: 10px;
  border-radius: 25px;
  min-width: 250px;
}

.card-name {
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  width: 60%;
  font-size: 2rem;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: rgba(250, 250, 87, 0.651);
}

.card-room {
  width: max-content;
  display: flex;
}
.room-name {
  text-align: center;
  font-size: 20px;
  /* border: 1px solid black; */
  border-radius: 10px;
  margin-bottom: 5px;
}

.checkbox {
  border: none;
  outline: none;
}

.footer {
  display: flex;
  justify-content: center;
}
.actionsContainer {
  display: flex;
  justify-content: center;
}
.deleteBtn,
.editBtn {
  border: none;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  padding: 10px;
}

.deleteBtn:hover {
  transform: scale(1.7);
}
.editBtn:hover {
  transform: scale(1.7);
}
