header {
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

label {
  margin-right: 5px;
}

button {
  border: 0.5px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(21, 176, 248, 0.459);
}

button:active {
  border: 0.5px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(16, 110, 154, 0.459);
}

.weatherBox {
  background-color: rgba(21, 176, 248, 0.459);
  border-radius: 5px;
}

.weather {
  display: grid;
  background-color: rgba(21, 176, 248, 0.459);
  border-radius: 10px;
  padding-left: 3rem;
  padding-right: 3rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.weatherInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

h4 {
  font-size: 2rem;
  font-weight: 600;
}

input {
  border-radius: 5px;
}
