.sidebar {
  border-top-right-radius: 15px;
  height: 100vw;
  background-color: rgba(154, 253, 154, 0.2);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.choreForm {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
}

.assignChoreLabel {
  font-size: 2.3rem;
}

button {
  margin: 8px;
}

input[type='text'] {
  margin: 10px;
}

select option {
  width: 100%;
  /* font-size: 10rem; */
}

.weatherIndicator {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.indicator span {
  color: red;
  margin-left: 2rem;
}

optgroup {
  font-size: 300px;
}
